<header class="analysis-header container">
    <div class="analysis-header__meta analysis-header__card">
        <small class="analysis-header__label">Nombre total d'échantillons observés :</small>
        <p class="analysis-header__count">{{ results.count }}</p>
        {% include "components/ui/filter/filter_summary.html.twig" with { summary: filters_summary|default([]) } %}
    </div>
    <article class="analysis-header__info analysis-header__card">
        <p>{{ molecule.definition | raw }}</p>
        {% if molecule.wikiUrl %}
            <p>
                Pour plus d'informations, vous pouvez consulter la
                <a href="{{ molecule.wikiUrl }}" target="_blank" rel="noreferrer">page Wiki de cette substance</a>.
            </p>
        {% endif %}
    </article>
</header>
