{% extends "base.html.twig" %}

{% block title %} Estimateur {% endblock %}
{% block centerText %} Estimateur {% endblock %}

{% block body %}
<div class="analysis-page">
    {% include "components/ui/grid_layout_controls.html.twig" %}

    <section class="analysis-grid container">

        {% include "components/ui/analysis_card.html.twig" with {
            embed_chart: 'MDMA_calculator',

            title: "Estimation de la quantité de MDMA",
            description: "
                <p>Ce calculateur permet de donner une estimation de la quantité de MDMA dans un comprimé en fonction de son poids. </p>
                ",
        
            body_template: "components/MDMA_calculator.html.twig",
            body_context: { id:"estimator_mdmda", data: results.mass_reg_purity | json_encode }
        } %}
    </section>
</div>

{% endblock %}
