{% extends "base_embed.html.twig" %}

{% block title %}{{ chart.title }}{% endblock %}

{% block body %}
<div class="chart-embed container">
    <header class="chart-embed__head">
        <h1 class="chart-embed__title">{{ chart.title }}</h1>
    </header>

    <div class="chart-embed__body">
        {% if chart.type == 'map' %}
            {{ render_map('embedded_map', chart.context.chart_data, chart.context.options|default({})) }}
        {% else %}
            {% include chart.template with chart.context %}
        {% endif %}
    </div>

    <p class="chart-embed__source">Psychotopia</p>
</div>
{% endblock %}
