{% extends 'base.html.twig' %}

{% block title %} {{ page_title }} {% endblock %}
{% block centerText %} {{ page_title }} {% endblock %}

{% block body %}
<div class="analysis-page">

    <nav class="molecule-subnav container" aria-label="Analyses des modes d'approvisionnements">
        <h1 class="molecule-subnav__title"> {{ page_title }}</h1>
    </nav>

    <header class="analysis-header container">
        <div class="analysis-header__meta analysis-header__card">
            <small class="analysis-header__label">Nombre total d'échantillons observés :</small>
            <p class="analysis-header__count">{{ results.histo_supply.count }}</p>
            {% include "components/ui/filter/filter_summary.html.twig" with { summary: filters_summary|default([]) } %}
        </div>
        <article class="analysis-header__info analysis-header__card">
            <p>Cette page met en perspective les modes d'approvisionnement déclarés par les personnes qui envoient un produit à analyser. Les échantillons proviennent du dispositif d'analyses à distance co-porté par Psychoactif et Analyse ton Prod.</p>
        </article>
    </header>

    {% include "components/ui/filter/filter_drawer.html.twig" with { form_template: "components/forms/form_molecules.html.twig" } %}
    {% include "components/ui/filter/filter_drawer_trigger.html.twig" %}

    {% include "components/ui/grid_layout_controls.html.twig" %}

    <section class="analysis-grid container">
        {% include "components/ui/analysis_card.html.twig" with {
            embed_chart: 'supply_distribution',
            
            title: "Répartition par voie d'approvisionnement",
            description: "Répartition des échantillons selon les différentes voies d'approvisionnement.",
            
            body_template: "components/charts/chart_pie.html.twig",
            body_context: { id:"pie_chart", chart_data: results.histo_supply | json_encode }
        } %}

        {% include "components/ui/analysis_card.html.twig" with {
            embed_chart: 'supply_timeline',

            title: "Évolution temporelle par voie d'approvisionnement",
            description: "Proportion des échantillons par voie d'approvisionnement, regroupée par bimestre.",
            
            body_template: "components/charts/chart_area_stacked.html.twig",
            body_context: { id:"area_chart", chart_data: results.temporal_supply | json_encode, is_stacked:'true', mode:'relatif' }
        } %}
    </section>
</div>
{% endblock %}
