/* -------------------------------------------
   Container helpers
------------------------------------------- */

.container {
  width: 100%;
  padding-inline: var(--space-2);
  margin-inline: auto;
  max-width: 1100px;
}

.container--fluid {
  padding-inline: var(--space-2);
}
