/* -------------------------------------------
   Spacing utilities
------------------------------------------- */

.u-mb-1 {
  margin-bottom: var(--space-1);
}

.u-mb-2 {
  margin-bottom: var(--space-2);
}

.u-mb-3 {
  margin-bottom: var(--space-3);
}
