/* === settings (variables) === */
:root {
  --neutral-900: #1B1B1B;
  --neutral-700: #3F3F3F;
  --neutral-400: #8E8E8E;
  --neutral-200: #EFEFEF;

  --bg: #FFFEFC;         /* blanc légèrement chaud */
  --warn: #C0362C;       /* rouge brique */

  /* spacing */
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;

  --radius: 10px;

  /* typography */
  --font-stack: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-size-base: 16px;
}

:root,
body[data-theme="navy"] {
  --brand-900: #071E22;
  --brand-600: #1D7874;
  --brand-300: #679289;
}

body[data-theme="nocturne"] {
  --brand-900: #050421;
  --brand-600: #1B3A80;
  --brand-300: #4A6FA5;
}

body[data-theme="neon"] {
  --brand-900: #22031F;
  --brand-600: #F5003D;
  --brand-300: #FCE9D8;
}
