{% extends 'base.html.twig' %}

{% block title %} {{ page_title }} {% endblock %}
{% block centerText %} {{ page_title }} {% endblock %}

{% block body %}
<div class="analysis-page">
    <header class="analysis-header container">
        <div class="analysis-header__meta analysis-header__card">
            <small class="analysis-header__label">Nombre total d'échantillons observés :</small>
            <p class="analysis-header__count">{{ results.histo_supply.count }}</p>
            {% include "components/filter_summary.html.twig" with { summary: filters_summary|default([]) } %}
        </div>
    </header>

    <aside
        id="drawerFilters"
        class="drawer"
        role="dialog"
        aria-modal="true"
        aria-labelledby="drawerFiltersTitle"
        aria-hidden="true"
    >
        <div class="drawer__panel">
            <div class="drawer__handle" aria-hidden="true"></div>
            <div class="drawer__inner">
                <div class="drawer__header">
                    <h3 id="drawerFiltersTitle">Options de visualisation</h3>
                    <button class="btn btn--ghost drawer__close" type="button" aria-label="Fermer les options" data-drawer-close>✕</button>
                </div>
                <div class="drawer__body">
                    {% include "components/form.html.twig" %}
                </div>
            </div>
        </div>
    </aside>

    {% include "components/drawer_trigger.html.twig" %}

    <section class="analysis-grid container">
        {% set supply_share_desc %}
            <p>Répartition des échantillons selon les différentes voies d'approvisionnement.</p>
        {% endset %}

        {% embed "components/analysis_card.html.twig" with {
            title: "Répartition par voie d'approvisionnement",
            description: supply_share_desc,
            embed_chart: 'distribution'
        } %}
            {% block body %}
                {% include "components/pie_chart.html.twig" with { id:"pie_chart", chart_data: results.histo_supply | json_encode } %}
            {% endblock %}
        {% endembed %}

        {% set supply_timeline_desc %}
            <p>Proportion des échantillons par voie d'approvisionnement, regroupée par bimestre.</p>
        {% endset %}

        {% embed "components/analysis_card.html.twig" with {
            title: "Évolution temporelle par voie d'approvisionnement",
            description: supply_timeline_desc,
            embed_chart: 'timeline'
        } %}
            {% block body %}
                {% include "components/area_stacked_chart.html.twig" with { id:"area_chart", chart_data: results.temporal_supply | json_encode, is_stacked:'true', mode:'relatif' }  %}
            {% endblock %}
        {% endembed %}
    </section>
</div>
{% endblock %}
