<p>Veuillez indiquer la molécule supposée de votre échantillon&#8239;: </p>
<input type="text" id="userInput_mol" placeholder="Molécule">
<p>Veuillez indiquer la voie d'approvisionnement de votre échantillon&#8239;: </p>
<input type="radio" id="dark_deep" value="Dark Web / Deep Web">
<label for="dark_deep">Dark Web / Deep Web</label><br>
<input type="radio" id="rue" value="Rue (Four)">
<label for="rue">Rue (Four)</label><br>
<input type="radio" id="livreur" value="Livreur">
<label for="livreur">Livreur</label>
<p>Sur quelle fenêtre de temps souhaitez vous vous concentrer&#8239;? </p>
<input type="number" id="userInput_days" min="0" placeholder="Nombre de jours">
<button id="calcBtn" class="btn btn--primary btn--block" type="button">Calculer</button>
<p>Estimation de la purité de <em>molécule</em> : <span id="result"></span> % <span id="nb_samples"></span></p>
<p>Variance : <span id="var"></span> %</p>


<script>
(function () {
    const data = {{ data | raw }};
    const [origin, coef_dir] = data.coef;

    const tablet_mass = data.datasets[2].data.map(p => p.x)
    const nb_samples = Math.max(...tablet_mass);

    const resultEl = document.getElementById("result");
    const varEl = document.getElementById("var");

    const btn = document.getElementById("calcBtn");

    btn.addEventListener("click", () => {
        const input = 1;
        if (!isNaN(input)) {
            const y = input * coef_dir + origin;
            resultEl.textContent = y.toFixed(2); // show with 2 decimals
            varEl.textContent = Math.min(...tablet_mass)/100;
        } else {
            resultEl.textContent = "Invalid input";
            varEl.textContent = "Invalid input";
        }
    });
})();
</script>

