<div class="chart-wrapper">
    <div class="chart-wrapper__canvas">
        <canvas id="{{ id }}" class="chart-canvas"></canvas>
    </div>
    {% include "components/charts/chart_data_table.html.twig" with {
        chart_id: id,
        chart_data_json: chart_data,
        table_config: {
            type: 'categorical',
            labelsKey: 'labels',
            dataKey: 'data',
            labelHeading: 'Catégorie',
            valueHeading: 'Valeur'
        }
    } %}
</div>

<script>
    (function() {
        
        const data = {{ chart_data | raw }};
        new Chart(document.getElementById('{{ id }}').getContext('2d'), {
            type: 'pie',
            data: {
                labels: data.labels,
                datasets: [{
                    data: data.data,
                    backgroundColor: Chart.defaults.colorPalette
                }]
            },
            options: {
                responsive : true,
                plugins: {
                    legend: {
                        display: true,
                        position: 'bottom',
                        align: 'center',
                        labels: {
                            usePointStyle: true,
                            pointStyle: 'circle',
                            boxWidth: 12,
                            boxHeight: 12,
                            padding: 12
                        }
                    }
                }
            }
        });
        
    })();
</script>
