<div class="chart-wrapper">
    <div class="chart-wrapper__canvas">
        <canvas id="{{ id }}" class="chart-canvas"></canvas>
    </div>
    {% include "components/charts/chart_data_table.html.twig" with {
        chart_id: id,
        chart_data_json: chart_data,
        table_config: {
            type: 'categorical',
            labelsKey: 'labels',
            dataKey: 'data',
            labelHeading: 'Produits',
            valueHeading: 'Proportion (%)'
        }
    } %}
</div>

<script>
    (function() {

        const data = {{ chart_data | raw }};
        new Chart(document.getElementById('{{ id }}').getContext('2d'), {
            type: 'bar',
            data: {
                labels: data.labels,
                datasets: [{
                    label: 'Proportion de produits retrouvés',
                    data: data.data,
                    backgroundColor: '#36A2EB',
                }]
            },
            options: {
                indexAxis: 'y', // Affiche les barres horizontalement
                responsive: true,
                scales: {
                    x: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Proportion (%)'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Produits'
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false // Si tu veux juste un titre simple
                    }
                }
            }
        });
    })();
</script>
