<div class="chart-wrapper">
    <div class="chart-wrapper__canvas">
        <canvas id="{{ id }}" class="chart-canvas"></canvas>
    </div>
</div>
 
<script>
    (function() {

        const data = {{ chart_data | raw }};

        const filterLegendEntries = (legendItem, chartInstance) => {
            return legendItem.text.length != 0;
        };

        window["{{ id }}_chart"] = new Chart(document.getElementById('{{ id }}').getContext('2d'), {
            type: 'scatter',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        labels: {
                            filter: filterLegendEntries
                        }
                    }
                },
                scales: {
                    x: {
                        min: data.min_x,
                        max: data.max_x,
                        title: {
                            display: true,
                            text: 'Masse du comprimé (mg)'
                        },
                        ticks: {
                        callback: value => Math.round(value)
                        }
                    },
                    x2: {
                        min: data.min_x,
                        max: data.max_x,
                        display: false
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Quantité de substance (mg)'
                        }
                    }
                }
            },
            }
        );

    })();
</script>
